{% extends "layout.html" %}
{% block body %}
  <p />

  <form id="fiter_form" action="{{ url_for('show_entries') }}" method="get">
  <strong>Filter by date: </strong>
  Start: <input type="text" size="10" value="{{ start }}" name="start">
  End: <input type="text" size="10" value="{{ end }}" name="end">
  <input type="submit" value="Go">
  </form>

  <p />

  <a href="{{ url_for('show_buckets') }}">Show Buckets</a><br />
  <img src="{{ history_img_url }}" />

  <div class="wide">
  {% if session.logged_in %}
  <form action="{{ url_for('add_entry') }}" metdod=post>
  {% endif %}

  <table class="entries">
    <tr class="entry-header">
      <td>Date</td>
      <td>Amount</td>
      <td>From</td>
      <td>To</td>
      <td>&nbsp;</td>
      {% for initial_balance in initial_balances %}
      <td>{{ initial_balance.bucketname }}</td>
      {% endfor %}
    </tr>
    <tr class=resultingbalance>
      <td colspan=4>&nbsp;</td>
      <td>Initial: </td>
      {% for initial_balance in initial_balances %}
      <td align="right">{{ initial_balance.balancestring }}</td>
      {% endfor %}
    </tr>
  {% for entry in entries %}
    <tr>
      <td>{{ entry.datetime }}</td>
      <td align="right">{{ entry.amountstring }}</td>
      <td>{{ entry.srcbucket }}</td>
      <td>{{ entry.destbucket }}</td>
      <td>Change:</td>
      {% for change in entry.changes %}
      <td align="right">{{ change.amountstring }}</td>
      {% endfor %}
    </tr>
    <tr class=resultingbalance>
      <td colspan=4>{{ entry.description }}&nbsp;</td>
      <td>Result:</td>
      {% for balance in entry.balances %}
      <td align="right">{{ balance.balancestring }}</td>
      {% endfor %}
    </tr>
  {% else %}
    <tr><td><em>Unbelievable.  No entries here so far</em></td></tr>
  {% endfor %}
  {% if session.logged_in %}
    <tr>
      <td>Date and Time<br/><input type=text size=10 name=datetime></td>
      <td>Amount<br/><input type=text size=10 name=amount></td>
      <td>From<br/><input type=text size=10 name=srcbucket></td>
      <td>To<br/><input type=text size=10 name=destbucket></td>
      <td>&nbsp;</td>
      {% for initial_balance in initial_balances %}
      <td>&nbsp;</td>
      {% endfor %}
    </tr>
    <tr class=resultingbalance>
      <td colspan=4>
        Description<br/>
        <input type=text size=30 name=description>
        <input type=submit value="Add Entry">
      </td>
      <td>&nbsp;</td>
      {% for initial_balance in initial_balances %}
      <td>&nbsp;</td>
      {% endfor %}
    </tr>
  {% endif %}
  </table>

  {% if session.logged_in %}
  </form>
  {% endif %}
  </div>
{% endblock %}
